body {
	color: rgb(230,230,230);
	background-color: black;
	font-family: 'Comfortaa', cursive;
	text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
	text-align: center;
}

h1 {
	padding: 10px 10px 40px 10px;
}

p {
	padding: 10px 10px 40px 10px;
	font-size: 20px;
}

.row {
	margin-top: 25px;
	margin-bottom: 25px;
}

.btn {
	border: black solid 2px;
	margin: 20px;
	height: 50px;
}

.navbar {
	background-color: black;
	font-size: 25px;
	color: rgb(230,230,230);
}

.logo {
	background-image: url(../images/adidas-funky-logo.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	z-index: 99;
}

.icon {
	width: 50px;
}

.navbar-brand {
	height: 100%;
	padding: 10px;
}

#navbar-links {
	padding: 25px;
}

.first-row {
	margin-top: 100px;
}

.text-overlay {
	background: rgba(150,150,150,0.2);
	border-radius: 8px;
	padding: 10px;
	margin-bottom: 20px;
}

.text-overlay:hover {
	background: rgba(230,230,230,1);
	color: black;
	text-shadow: 0 0, 0 0, 0 0, 0 0;
	-webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.product-image {
	display: block;
	width: 60%;
	margin: 0 20%;
	border-radius: 8px;
	border: solid 1px grey;
}

.old-cost {
	color: red;
	text-decoration: line-through;
}

.footer {
	text-align: right;
	padding: 20px;
	border-top: solid 2px white;
}

.footer-element {
	display: inline-block;
	margin: 0 20px;
}

@media (max-width: 768px) {
	.col-xs-4 {
		width: 50%;
	}
	.logo {
		background-size: 850px;
	}
}

@media (max-width: 768px) {
  .col-xs-6, .col-xs-4 {
    width: 100%;
  }
}